<body class="sub_page">
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>We Are Feane</h2>
            </div>
            <p>
              Discover the world of exquisite flavors and culinary adventures
              with Feane Food Blog. We are passionate about sharing
              mouthwatering recipes, cooking tips, and food stories that inspire
              your inner chef. Join us on a delicious journey where creativity
              meets the kitchen, and every dish tells a story. Whether you're a
              seasoned cook or a kitchen novice, there's something here for
              everyone. Explore, savor, and let the joy of cooking bring people
              together. Bon appétit!
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
