  <body class="sub_page">

    <!-- about section -->

    <section id="blogSection" class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="assets/images/f1.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container_titlePost">

                    </div>
                    <p class="postSummary"> </p>
                      
                    <h2 class="postCreator">Creator: </h2>

                    <button class="potvrdi">Save</button>
                    <br>

                    <button class="potvrdi">Edit</button>
                    <br>
                    
                    <button class="obrisi">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ingredientsSection" class="about_section layout_padding">
    <div class="container">
        <div class="detail-box">
            <h3>Ingredients:</h3>
            <ul class="ingredientsList">
                <!-- Ingredients will be added here dynamically -->
            </ul>
            <h3>Instructions:</h3>
            <ol class="instructionsList">
                <!-- Instructions will be added here dynamically -->
            </ol>

            <h3>Macros:</h3>
            <p class="Macros"> </p>
        </div>
    </div>
</section>

    <!-- comment section -->

    <section class="client_section layout_padding2-top">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <h2>Write your comment</h2>
        </div>
      </div>
    </section>

    <section class="client_section layout_padding-bottom layout_padding">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <div class="heading_container">
            <div class="comment-box">
              <form action="#">
                <textarea
                  name="comment"
                  placeholder="Type Your Comment"
                ></textarea>
                <button class="SubmitComment">Submit Comment</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- client section -->

    <section class="client_section layout_padding-bottom layout_padding">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <h2>Our Customers Comments</h2>
        </div>
          <div class="owl-carousel client_owl-carousel">
            
          </div>
        </div>
      </div>
    </section>
    <!-- end client section -->
    <script src="assets/js/custom.js"></script>  
    <script src="assets/js/post-comment.js"></script>
    <script>
      let id = localStorage.getItem("recipeId");
      if(id != null){
        BlogService.getBlogDetailsDelayed(id);
      }
    </script>
    
  </body>

  