<body class="sub_page">
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="text-align: center">
          <h2 style="padding-bottom: 20px">Edit your Photo</h2>
          <div class="img-box">
            <input type="file" id="file" />
            <label for="file" class="slike">Upload Photo</label>
          </div>
          <button type="submit" id="editProfileButton" class="potvrdi">
            Edit Profile
          </button>
        </div>
        <div class="col-md-6" style="text-align: center">
          <div class="detail-box">
            <h2 style="padding: 20px">Edit your Name</h2>
            <textarea
              name="name"
              style="
                resize: none;
                height: 50px;
                width: 50%;
                border-radius: 20px;
              "
            ></textarea>

            <h2 style="padding: 40px 20px">Edit your Bio</h2>
            <textarea
              name="bio"
              style="
                resize: none;
                height: 214px;
                width: 90%;
                border-radius: 20px;
              "
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <script src="assets/js/edit-profile.js"></script>
</body>
