<body class="sub_page">
  <!-- post blog section -->
  <section class="client_section layout_padding2-top">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h1 class="layout_padding2-bottom" style="font-size: 3.5rem">
          Write your dish
        </h1>
        <h2 style="padding: 40px">Upload photo of your dish</h2>
        <input type="file" id="file" />
        <label for="file" class="slike">Upload Photo</label>
        <h2 style="padding: 40px">Name of the dish</h2>
        <textarea
          name="name"
          placeholder="Name of the dish"
          style="resize: none; height: 214px; width: 90%; border-radius: 20px"
        ></textarea>
        <h2 style="padding: 40px">Short summary</h2>
        <textarea
          name="summary"
          placeholder="Short summary"
          style="resize: none; height: 214px; width: 90%; border-radius: 20px"
        ></textarea>
        <h2 style="padding: 40px">Your Ingredients</h2>
        <textarea
          name="ingredients"
          style="resize: none; height: 214px; width: 90%; border-radius: 20px"
        ></textarea>
        <h2 style="padding: 40px">Your instructions</h2>
        <textarea
          name="instructions"
          style="resize: none; height: 214px; width: 90%; border-radius: 20px"
        ></textarea>
        <h2 style="padding: 40px">Your Macros</h2>
        <textarea
          name="macros"
          style="resize: none; height: 214px; width: 90%; border-radius: 20px"
        ></textarea>
        <button type="submit" class="potvrdi">Post Dish</button>
      </div>
    </div>
  </section>

  <!-- end post blog section -->
</body>
