<body class="sub_page">
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/client1.jpg" alt="" class="box-img" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="creatorName"></h2>
            </div>
            <p class="creatorSummary">
              
            </p>
            <a href="#edit-profile"> Edit profile </a>
            <p>
              <a href="#post-blog"> Make new blog </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>My Blogs</h2>
      </div>

      <div class="filters-content">
        <a href="#current-blog">
          <div class="col-sm-6 col-lg-4-blog all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="assets/images/f1.png" alt="" />
                </div>
                <div class="detail-box">
                  <h5 class="item-name">Delicious Pizza</h5>
                  <p class="creator">Abby Madison</p>
                  <h6>
                    A protein pizza with a crust made of ground chicken breast,
                    egg whites, and cheese. Topped with a low-carb tomato sauce,
                    mozzarella, and your favorite pizza toppings.
                  </h6>
                  <h6 class="macros">
                    Macros: 1 slice (1/8th of pizza) 150 calories, 4g fat, 1g
                    net carbs, 25g protein
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </a>
      <div class="btn-box">
        <a href=""> View More </a>
      </div>
    </div>
  </section>
</body>
